SITE_NAME="Haarlem Festival"
SITE_URL="http://localhost:80"

# Google ReCaptcha v2
RECAPTCHA_SITE_KEY="your_site_key_here"
RECAPTCHA_SECRET_KEY="your_secret_key_here"

DB_TYPE="pgsql"
DB_HOST="postgres"
DB_PORT="5432"
DB_DATABASE='HaarlemFestival'

DB_USERNAME="appuser"
DB_PASSWORD="database123"

# Email (Google SMTP)
MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
MAIL_ENCRYPTION="tls"
MAIL_USERNAME="your-festival-email@gmail.com"
MAIL_PASSWORD="your-gmail-app-password"
MAIL_FROM_ADDRESS="your-festival-email@gmail.com"
MAIL_FROM_NAME="Haarlem Festival"